- form_for [:admin, @property] do |f|
  %fieldset
    %dl
      %dt.form-label= f.label :region_id
      %dd.form-option= f.select :region_id, Region.all.sort_by(&:title).collect {|r| [r.title, r.id]}, {:include_blank => "Select a region"}
      %dt.form-label= f.label :asking_price
      %dd.form-option
        $
        = f.text_field :asking_price, :size => "10"
      %dt.form-label= f.label :reduced_price
      %dd.form-option
        $
        = f.text_field :reduced_price, :size => "10"
      %dt.form-label= f.label :date_listed
      %dd.form-option= f.datetime_select :date_listed
      %dt.form-label
        = f.label :date_reduced
        .note Date the price of the property was reduced.
      %dd.form-option= f.datetime_select :date_reduced
      %dt.form-label= f.label :address
      %dd.form-option= f.text_field :address, :size => "44" 
      %dt.form-label= f.label :city
      %dd.form-option= f.text_field :city, :size => "44" 
      %dt.form-label= f.label :state
      %dd.form-option= f.text_field :state, :size => "44" 
      %dt.form-label= f.label :zip
      %dd.form-option= f.text_field :zip, :size => "44" 
      %dt.form-label= f.label :beds_count
      %dd.form-option= f.text_field :beds_count, :size => "44" 
      %dt.form-label= f.label :baths_count
      %dd.form-option= f.text_field :baths_count, :size => "44" 
      %dt.form-label= f.label :showing_instructions
      %dd.form-option= f.text_area :showing_instructions, :size => "75x12"
      %dt.form-label= f.label :directions
      %dd.form-option= f.text_area :directions, :size => "75x12"
      %dt.form-label= f.label :description
      %dd.form-option= f.text_area :description, :size => "75x12"
      %dt.form-label= f.label :body
      %dd.form-option= f.text_area :body, :size => "85x35", :class => "mceEditor"
    = f.submitx